.page-layout {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 5fr 3fr;
  background: #fff;
}

.page-layout .logo {
  background: linear-gradient(329.54deg, #29B6D1 0%, #00C7C7 100%);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  
}

.page-layout .location {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-family: Nunito;
  font-size: 24px;
  line-height: 34px;
  /* or 142% */
  color: #FFFFFF;
}

.page-layout #form-box {
  margin: auto;
  max-width: 360px;
}

.page-layout #form-box form fieldset {
  border: none;
}

.page-layout #form-box form fieldset legend {
  margin-bottom: 40px;
  font-family: Nunito;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 34px;
  color: #5C8599;
}

.page-layout #form-box form fieldset span {
  margin-bottom: 40px;
  margin-top: -16px;
  font-family: Nunito;
  font-style: normal;
  font-size: 18px;
  line-height: 34px;
  color: #5C8599;
  display: block;
}
